#root {
  
  margin: -8px ;
  padding: 0%;
  text-align: center;
  color: rgb(32, 31, 31);
  text-decoration: none;
  
  
  
 


}


body{
  background-color: beige;
  font-family: Belleza,sans-serif;
  color: black;
  justify-content:space-evenly ;
 
}
